*{
    font-family: chalkduster, fantasy;
    box-sizing: border-box;
}

body{
    height:100vh;
    flex-direction:column;
    background-color: burlywood;
}
.flex-ctr {
    display:flex;
    justify-content: center;
    align-items: center;
}

main{
    display: grid;
    grid-template-columns: repeat(5, 10vmin);
    grid-template-rows: repeat(5, 10vmin);
    margin: 10vmin;
    margin-right: 18vmin;
    gap: 2.5vmin;
    border: .5vmin solid brown;
    border-radius: 1.5vmin;
}

.goblin{
    border: .2vmin solid brown;
    border-radius: .75vmin;
    visibility: visible;
}

.bar {
    display: flex;
    align-items: center;
    align-content: center;
}

.counter {
    margin: 2vmin;
    padding-top: 1vmin;
    border: .5vmin solid antiquewhite;
    width: 25vmin;
    height: 12vmin;
    text-align: center;
}
.matches{
    font-family: fantasy, blippo;
    font-size: 6vmin;
}

h1{
    font-style: italic;
    margin: 1vmin;
    font-size: 4.5vmin;
}

button{
    justify-self: center;
    width: 20vmin;
    margin: 1vmin;
    background-color: antiquewhite;
    color: black;
    font-size: 2vmin;
    outline: 1vmin;
    border-radius: 5vmin;
    display: block;
}
button:hover {
    transform: scale(110%);
}